.loader-container {
	overflow: hidden;
	background-color: #1f2833;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 900;
	position: fixed;
	top: 0%;
	left: 0%;
	visibility: hidden;
}

.loader-container h1 {
	color: whitesmoke;
}

.loader-container.visible {
	-webkit-animation: vanish 2s ease-out;
	animation: vanish 2s ease-out;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes vanish {
	100% {
		visibility: visible;
	}
}
