* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.loader-container {
	overflow: hidden;
	background-color: #1f2833;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 900;
	position: fixed;
	top: 0%;
	left: 0%;
}

.loader {
	max-width: 25rem;
	width: 100%;
	stroke-linecap: round;
}

circle {
	fill: none;
	stroke-width: 2.5;
	animation: preloader 4s ease-in-out infinite alternate;
	transform-origin: 150px 150px;
}

circle:nth-of-type(1) {
	stroke-dasharray: 300px;
	animation-delay: -0.2s;
}
circle:nth-of-type(2) {
	stroke-dasharray: 250px;
	animation-delay: -0.3s;
}
circle:nth-of-type(3) {
	stroke-dasharray: 200px;
	animation-delay: -0.4s;
}
circle:nth-of-type(4) {
	stroke-dasharray: 150px;
	animation-delay: -0.5s;
}
circle:nth-of-type(5) {
	stroke-dasharray: 100px;
	animation-delay: -0.6s;
}
circle:nth-of-type(6) {
	stroke-dasharray: 50px;
	animation-delay: -0.7s;
}

@keyframes preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(540deg);
	}
}

.loader-container h1 {
	color: white;
}

.loader-container.hidden {
	-webkit-animation: vanish 4s;
	animation: vanish 4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes vanish {
	100% {
		visibility: hidden;
	}
}
